{% extends 'base.html' %}
{% block title %}
    Edit Post
{% endblock%}
{% block content %}

{% if user.is_authenticated %} 
    {%if user.id  == post.author.id %}
    <h4>Edit Post</h4>
    <br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">UPDATE</button>
        </form>
    </div>
    {% else %}
        Unauthorised Access
    {% endif %}

{% else %}

    Unauthorised Access

{% endif %} 

{% endblock %}


